.gift {
    text-align: center;
}

.drawer .reference {
    margin-top: 32px;
}

.drawer .about {
    margin-bottom: 32px;
}

.reference span, .about span { 
    margin: 0 4px;
    text-transform: lowercase;
}

.reference span::before, .about span::before {
    content: '\00B7';
    margin-right: 8px;
}

.reference span:first-of-type::before, .about span:first-of-type::before {
    content: '';
}