.gift {
    text-align: center;
}

.gift img {
    max-height: 42px;
    margin: 8px 0;
}

.drawer .gift {
    margin-top: 32px;
}

.drawer img {
    margin-bottom: 24px;
}

.drawer .about {
    margin-bottom: 32px;
}

.reference span, .about span { 
    margin: 0 4px;
    text-transform: lowercase;
}

.pseudolink {
    text-decoration: underline;
}

.reference span::after, .about span::after {
    content: '\00B7';
    margin-left: 8px;
}

.reference span:last-of-type::after, .about span:last-of-type::after {
    content: '';
}