.gift {
    display: block;
    text-decoration: none;
    background: #4450A4;
    padding: 18px;
    color: #FFF;
    margin: 12px 0;
    border-radius: 15px;
}

.gift .title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 6px;
    margin-right: 24px;
}

.gift .save svg {
    fill: #fff;
    height: 32px;
}

.gift .save {
    float: right;
}