.group {
    color: #fff;
    padding: 32px 16px;
    text-align: center;
}

.group:before {
    content: '';
    display: block;
    height: 8px;
    margin: -33px -16px 32px;
}

h2 {
    margin: 8px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

h2 strong {
    font-weight: 800;
    text-transform: uppercase;
}

.group p {
    text-align: left;
}

a.ghost-btn {
    color: inherit;
    opacity: .75;
}

.group:nth-of-type(5n) {
    background: #456990;
}
  
.group:nth-of-type(5n+1) {
    background: #EF767A;
}
  
.group:nth-of-type(5n+2) {
    background: #EEB868;
}
  
.group:nth-of-type(5n+3) {
    background: #4F518C;
}

.group:nth-of-type(5n+4) {
    background: #49BEAA;
}

.group:nth-of-type(5n+1):before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%23456990'/></svg>");
}

.group:nth-of-type(5n+2):before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%23EF767A'/></svg>");
}

.group:nth-of-type(5n+3):before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%23EEB868'/></svg>");
}

.group:nth-of-type(5n+4):before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%234F518C'/></svg>");
}

.group:nth-of-type(5n):before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%2349BEAA'/></svg>");
}

.group:first-of-type:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M4 8L8 0H0L4 8Z' fill='%23F7F8FA'/></svg>");
}