.persona {
    text-align: center;
}

.persona h1 {
    margin: 40px 0 8px;
    text-transform: capitalize;
}

.persona h1::before {
    content: 'Gifts For the';
    display: block;
    font-size: 16px;
    text-transform: lowercase;
}