header {
  font-size: 24px;
  display: flex;
  font-weight: 900;
  text-transform: uppercase;
  padding: 32px;
  justify-content: space-between;
  background: #EF767A;
  color: #fff;
}

.subtitle {
  opacity: .75;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}