header {
  text-align: center;
}

.app-name {
  color: #EF767A;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 16px;
  font-size: 36px;
}

.subtitle {
  color: #EF767A;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}